::selection {
    background: #3D3C3D !important; 
}

.header-download-button {
    margin-top: 25px;
    float: right !important; 
}

#logo img {
    max-width: 25% !important;
    width:25% !important;
    height:auto;
    position: relative;
    margin-top: 15px
}

h1 {
    font-family: 'Poppins' !important;
    font-size: 50px !important;
    line-height: 70px !important;
    font-weight: 500 !important;
    
    
}

.one-page-arrow {
    position: absolute !important;
    margin-bottom: -100px;
}

.heading-block {
    position:relative;
}

.how-it-works-step {
    position:relative;
    margin-top:200px ;
     
}

.how-it-works-step h2{
    font-family: 'Lato-Light' !important;
    font-weight: 300 !important;
   padding-left:20px !important;
}

.steps-photo {
    width:35%;
    height:auto;
    position:relative;
    padding-top:40px !important;
    padding-bottom: 40px
    
}

.steps-photo-1 {
    width: 70%;
    height: auto;
    position:relative;
    padding-top: 40px !important; 
    padding-bottom: 40px
}

.how-it-works-step-3 p,
.how-it-works-step p {
    font-size: 16px !important;
    line-height: 25px !important;
    font-family: 'Lato-Light' !important;
    padding-left: 20px !important; 
    margin-top: -20px
}


.how-it-works-step-3 {
    position: relative;
    margin-top: 150px;
}

.how-it-works-step-3 h2 {
    font-family: 'Lato-Light' !important;
    font-weight: 300 !important;
    padding-left: 20px 
}

.steps-photo-3 {
    width:75%;
    height: auto;
    position:relative;
    margin-top:100px;
}

.freetrial {
    padding-left: 45px !important;
}

.freetrial h3 {
    font-family: 'Open Sans' !important;
    color:#555 !important;
    font-weight: 600 !important; 
}

.motiongraphic {
    margin-left: 300px;
    width: 50%;
    height: auto;
}

.sm-form-control {
    font-family: 'Open Sans' !important; 
    font-weight: 200 !important;
}


.form-control {
    height:50px !important; 
    font-family: 'Open Sans' !important;
    font-weight:200 !important; 
}

#copyrights {
    background-color: white !important; 
    
}

#footer {
    border-top: 1px solid #000000 !important;
    
}

.footer-logo {
    width: 20% !important;
    
}

.copyrights-text {
    font-family: 'Lato-Light' !important;
    
}

.header-menu {
    position: relative !important;
    margin-top: 20px !important;
    color: #333 !important;
}

.header-menu a {
    font-family: 'Open Sans' !important; 
    font-size:18px !important; 
    font-weight: 200 !important;
    color: #333 !important; 
}

.influencer h1 {
    color:#ffffff !important;
    font-family: 'Poppins' !important; 
    font-weight: 500;
    font-size: 40px !important;
    line-height: 50px !important; 
}

.influencer-1 h1 {
    color:#333 !important;
    font-family: 'Poppins' !important; 
    font-weight: 500;
    font-size: 40px !important;
    line-height: 50px !important;
}


.vertical-middle {
    position: absolute; 
    top:25% !important; 
    
}

.influencer-angle {
    position:relative;
    margin-top: 10px !important; 
}

.influencerfeature {
    width:30% !important;
    height:auto; 
}


.influencer-heading-descriptions {
    font-family: 'Lato-Light' !important;
    font-size: 25px !important; 
    color: #ffffff !important; 
    margin-top: 50px
}

.index-heading-descriptions {
    font-family: 'Lato' !important; 
    font-size: 25px;
    color: #000;
    font-weight: 400 !important; 
}

.bgcolor {
    background-color: #E1D6E0 !important; 
}

#header .signup-button {
    float: right;
    margin-top: -85px
}

.influencer {
    margin-top: 150px !important; 
}

#gotoTop:hover {
    background-color: #3D3C3D !important;  
}

.steps-photo-2 {
    width: 80%; 
    height: auto;
    
}

.influencer-feature-description {
    font-family: 'Lato-Light' !important;
    font-size: 16px !important; 
}

.ads h1 {
    margin-top: 100px !important; 
    padding-left: 40px; 
}

.ads-heading {
   font-family: 'Open Sans' !important; 
    font-weight: 300 !important; 
    font-size: 25px !important; 
    color: #911D22 !important; 
    margin-top: 20px;
    padding-left: 450px
}

.social h1 {
    font-family: 'Lato' !important; 
    font-weight: 500 !important; 
    color:  !important; 
    margin-top: -20px !important;
    font-size: 40px !important;
    line-height: 50px !important
}

.social-heading {
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 400;
    padding-top: 40px;
    color: #3B3F49; 
    
}

.social-appstore { 
    height:auto; 
    position: relative;
    margin-top: 25px; 
    display: inline-block;
    float: right;
}

.social-appstore-1 {
    position: relative; 
    margin-top: 25px; 
    float: right
}

.gettheapp {
    margin-top: 100px;
    font-family: 'Open Sans' !important; 
    font-weight: 400 !important; 
    
}

.introgofind {
    width: 70%;
    height: auto;
    position: relative;
    margin-top: 40px; 
}

.social-pic {
    width: 50%;
    height: auto;
    padding-top: 120px;
}

.intro-description {
    font-family: 'Open Sans' !important;
    font-weight: 400;
    
}

.intro-description-p {
    font-family: 'Lato-Light' !important; 
    font-weight: 200;
    line-height: 25px;
    margin-left: 30px; 
    font-size: 16px;
}



.demophone-section {
    width: 200% !important; 
    height: auto;
}

.container-bg {
width:auto;
margin: 0 auto;
position:relative;
}

.banner-bg {
background-image: url(assets/img/demo-phone.png);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;

}
    
.web-version-app {
    width: 30%;
    height: auto;
}

.celebrity-title {
    color: #000000 !important; 
    font-family: 'Roboto Regular' !important; 
    position:relative;
    padding-top: 30px;
    
    
}

.logo-section {
    background-color: #000000 !important; 
}

.main-demo {
    width: 30% !important;
    height: auto !important;
    position: fixed;
    margin-top: 30px;
    margin-left: 50px;
    float: left;
    
}

.demo-2-description {
    font-family: 'Lato-Light' !important; 
    font-size: 30px; 
    line-height: 50px; 
    position: fixed;
    margin-top:px; 
    padding-left: 50px; 
    
    
}

.thumbnail {
    width:12%;
    -top: 80px; 
    display: inline-block; 
    margin-right:20px; 
}


.thumbnail-1 {
    position: relative;
    margin-top:0px; 
    display: inline-block;
    width:12%; 
    margin-right:20px;
    font-size: 20px;
    
    
    
}

.thumbnail-2 {
    width:12%;
    display: inline-block; 
    margin-right:20px; 
    
}

#box {
    width:100px;
    height:100px;
    border-radius: 500px; 
    border: 2px solid #000000;
    position:relative; 
    -webkit-border-radius: 500px;
    display:inline-block;
}

.item-categories {
    padding-top: 35px;
    padding-left: 30px;
    font-size: 18px;
    font-family: 'Open Sans' !important;
    font-weight: 200;
    display: inline-block;
}

.circle {
position: relative;
  right: 125px;
}

.circle-1 {
    position:relative;
    right:90px
}

.circle-2 {
    position: relative;
    right: 50px
}

.background-dec {
    background-color: #3D3C3D !important; 
}

.text-color {
    color: #E1D6E0 !important;
}

.android-version {
    padding-top: 10px; 
    font-family: 'Lato-Light' !important; 
    font-size: 25px !important; 
}

.headervideo {
    width:50%;
    position:relative;
    margin-top: 400px;
    float: right
    
}

.index-head {
    /*float: right;*/
    float: left;
    margin-top: 400px; 
}

.index-head h1 {
    font-weight: 600 !important;
}

.ROI {
    color: #333 !important;
}

.legal h2,h3,p {
    font-family: 'Open Sans' !important;
}


