<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    
<link rel="apple-touch-icon" sizes="180x180" href="../static/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="../static/assets/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="../static/assets/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="../static/assets/favicons/manifest.json">
<link rel="mask-icon" href="../static/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="../static/style.css" type="text/css" />
	<link rel="stylesheet" href="../static/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="../static/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="../static/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="../static/css/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="../static/custom.css" type="text/css"/>

	<link rel="stylesheet" href="../static/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- Document Title
	============================================= -->
	<title>GOFind.ai - Advertiser Program</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header dark full-header" data-sticky-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="{{ url_for('index') }}" class="standard-logo" data-dark-logo="../static/assets/img/MAIN%20LOGO.png"><img src="../static/assets/img/MAIN%20LOGO.png" alt="GOFind Logo"></a>
						<a href="{{ url_for('index') }}" class="retina-logo" data-dark-logo="../static/assets/img/MAIN%20LOGO.png">
						<img src="../static/assets/img/MAIN%20LOGO.png" alt="GOFind Logo"></a>
					</div><!-- #logo end -->
               <div class="signup-button social-appstore-1">
        
                <a href="#" class="button button-3d button-large button-rounded button-red header-download-button">SIGN UP</a>
                    <a href="https://itunes.apple.com/us/app/gofind-fashion/id1120971095?mt=8&ign-mpt=uo%3D4"><img class="header-download-button" src="../static/assets/img/apple-icon.png"></a>
                    <a href="https://play.google.com/store/apps/details?id=ai.gofind.gofind"><img class="social-appstore" src="../static/assets/img/blank.png"> </a>
                </div>
                
            </div>
    </div>
        </header>
        <section id="slider" class="slider-parallax" style="background: url('../static/assets/img/kaboompics.com_Woman standing on a concrete floor.png') no-repeat; background-size: cover" data-height-lg="600" data-height-md="500" data-height-sm="400" data-height-xs="300" data-height-xxs="250">
			<div class="slider-parallax-inner">

				<div class="container clearfix">
					<div class="vertical-middle dark center">

						<div class="heading-block nobottommargin text-left influencer-1 ads">
							<h1>
								
									Want to maximize your ROI?  
								
							</h1>
                            <h3 class="ads-heading">Join <strong>GOFind ADs program</strong> right now! </h3>
                
							
							<a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="influencer-angle icon-angle-down infinite animated fadeInDown"></i></a>
							
						</div>


					</div>
				</div>
			</div>
		</section>
				<section id="content">

			<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap bgcolor">

				<div class="container clearfix">

					<div class="col_one_third nobottommargin center">
						<a href="#"><img src="../static/assets/img/target-of-audience.png" alt="Image" class="bottommargin-sm influencerfeature"></a>
						<h4>Target Specific Audience</h4>
						<p class="influencer-feature-description">Target <strong>RIGHT PEOPLE</strong> at the <strong>RIGHT TIME</strong></p>
					</div>

					<div class="col_one_third nobottommargin center">
						<a href="#"><img src="../static/assets/img/shooting.png" alt="Image" class="bottommargin-sm influencerfeature"></a>
						<h4>Target By Visual Searching Items</h4>
						<p class="influencer-feature-description">Visual search technique makes searching results more accurate, turning the search into actual purchase.  </p>
					</div>

					<div class="col_one_third nobottommargin center col_last">
						<a href="#"><img src="../static/assets/img/campaigning.png" alt="Image" class="bottommargin-sm influencerfeature"></a>
						<h4>Auto Campaign</h4>
						<p class="influencer-feature-description"> Our AI. Engine can automatically create campaigns for you.  </p>
					</div>
                </div>
            </div>
                        
                        
                        <div class="col_full clearfix">

						<div class="col-md-6 text-left how-it-works-step">
                            <h2>Choose your<strong> TARGET AUDIENCE!</strong></h2>
                            <p>Fill in the demographic information to make sure your ADs<br> is for the right people!</p>
						</div>
                    <div class="col-md-6 text-center">
					<img src="../static/assets/img/ad-target-1.png" class="notopmargin steps-photo-1" alt="Image" title="Image" data-animate="fadeInRight" />
                            </div>

					</div>
                        
                        <div class="col_full clearfix background-dec">
                        <div class="col-md-6 text-center">
						<img src="../static/assets/img/advertiser-2.png" class="notopmargin steps-photo" alt="Image" title="Image" data-animate="fadeInLeft" />
                            </div>
						
						<div class="col-md-6 text-left how-it-works-step">
							<h2 class="text-color">ADs will be shown as a <strong>TOP RESULT!</strong></h2>
							<p class="text-color">This will be the first thing which comes into users' eyes!</p>
						</div>

						
					</div>
					
					
					
					<div class="col_full clearfix">

						<div class="col-md-6 text-left how-it-works-step">
							<h2>Advertiser can check out dashboard for <strong>PERFORMANCE</strong>!</h2>
							<p>Keep tracking the performance of each campaign, making sure<br> every penny is being used wisely! </p>
							
						</div>
                    <div class="col-md-6 text-center">
					<img src="../static/assets/img/ad-target-3.png" class="notopmargin steps-photo-1" alt="Image" title="Image" data-animate="fadeInRight" />
                            </div>

					</div>
                        
                        

    
    
  
    
      
        
            
    <div class="col_two_third col_last nobottommargin freetrial">


						<h3>Sign up to become a fashion advertiser!</h3>


						<form id="register-form" name="register-form" class="nobottommargin" action="#" method="post">

							<div class="col_half">
								<label for="register-form-name">Name:</label>
                                <input type="text" placeholder="Enter your Name" id="register-form-name" name="register-form-name" value="" class="form-control" /> </div>
								
				            <div class="col_half col_last">
								<label for="refister-form-name">Company:</label>
								<input type="text" placeholder="Enter your Company Name" id="register-form-company-name" name="register-form-company" value="" class="form-control" />
                            </div>
								<br>
								<div class="col_half">
								<label for="register-form-email">Email Address:</label>
								<input type="text" placeholder="Enter your email address" id="register-form-email" name="register-form-email" value="" class="form-control" />
                            </div>
								<br> 
								<div class="col_half col_last">
								<label for="register-form-email">Phone:</label>
								<input type="text" placeholder="Enter your Phone Number" id="register-form-phone" name="register-form-phone" value="" class="form-control" />
                            </div>
								<br> 
								<div class="col_full">
									<label for="template-contactform-message">Message:</label>
									<textarea class="required sm-form-control" id="template-contactform-message" name="template-contactform-message" placeholder="Leave Your Message" rows="6" cols="30"></textarea>
								</div>
								<div class="col_full nobottommargin">
								<button class="button button-3d button-black nomargin" id="register-form-submit" name="register-form-submit" value="register">SIGN UP</button>

							</div>
							<br>							
							
				

							

						</form>
						</div>



			
    </section> <!--content end-->
        
               
               
     <!-- Footer
		============================================= -->
		<footer id="footer">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix copyrights-text">

					<div class="col_half">
						<img src="../static/assets/img/MAIN%20LOGO.png" alt="Footer Logo" class="footer-logo">

						Copyrights &copy; 2016 All Rights Reserved by GOFind.ai.
					</div>

					<div class="col_half col_last tright">
						<div class="copyrights-menu copyright-links fright clearfix">
							<a href="{{ url_for('influencer') }}">Influencer</a>/<a href="{{ url_for('advertiser') }}">Advertiser</a>/<a href="https://nick54321.typeform.com/to/nv8rpB">Investor</a>
				
						</div>
				
					<!--	<div class="fright clearfix">
							<a href="#" class="social-icon si-small si-borderless nobottommargin si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless nobottommargin si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless nobottommargin si-gplus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless nobottommargin si-pinterest">
								<i class="icon-pinterest"></i>
								<i class="icon-pinterest"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless nobottommargin si-vimeo">
								<i class="icon-vimeo"></i>
								<i class="icon-vimeo"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless nobottommargin si-github">
								<i class="icon-github"></i>
								<i class="icon-github"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless nobottommargin si-yahoo">
								<i class="icon-yahoo"></i>
								<i class="icon-yahoo"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless nobottommargin si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div> -->
					
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->          
              
    <!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script type="text/javascript" src="../static/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="../static/js/functions.js"></script>

	<script>
	$(function() {
		$( "#side-navigation" ).tabs({ show: { effect: "fade", duration: 400 } });
	});
</script>
   
    </body>
</html>
				<!--<a href="https://play.google.com/store/apps/details?id=ai.gofind.gofind"><img class="social-appstore" src="../static/assets/img/google-icon.png"></a>-->
