<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    
<link rel="apple-touch-icon" sizes="180x180" href="../static/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="../static/assets/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="../static/assets/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="../static/assets/favicons/manifest.json">
<link rel="mask-icon" href="../static/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="../static/style.css" type="text/css" />
	<link rel="stylesheet" href="../static/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="../static/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="../static/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="../static/css/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="../static/custom.css" type="text/css"/>

	<link rel="stylesheet" href="../static/css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- Document Title
	============================================= -->
	<title>GOFind.ai - Influencer Program</title>
	<style type="text/css">
	#header .signup-button {
	    margin-top: 0px;
	}
	@media (max-width: 991px){
		#slider {
		    background-position: 75% 0%!important;
		}
		.heading-block h1 {
		    font-size: 30px !important;
		    line-height: 29px !important;
		}
		.influencer-heading-descriptions {
		    margin-top: 0px;
		}
		.vertical-middle {
		    top: 10% !important;
		}
		.one-page-arrow {
		    display: block !important;
		}
	}
	</style>
    <!-- Google Analytics -->
	<script>
	var _0x3230=["\x67\x61","\x70\x75\x73\x68","\x71","\x6C","\x63\x72\x65\x61\x74\x65","\x55\x41\x2D\x38\x38\x39\x31\x37\x31\x32\x31\x2D\x31","\x61\x75\x74\x6F","\x73\x65\x6E\x64","\x70\x61\x67\x65\x76\x69\x65\x77"];window[_0x3230[0]]= window[_0x3230[0]]|| function(){(ga[_0x3230[2]]= ga[_0x3230[2]]|| [])[_0x3230[1]](arguments)};ga[_0x3230[3]]=  + new Date;ga(_0x3230[4],_0x3230[5],_0x3230[6]);ga(_0x3230[7],_0x3230[8])
	</script>
	<script async src='https://www.google-analytics.com/analytics.js'></script>
	<!-- End Google Analytics -->
</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header dark full-header" data-sticky-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="{{ url_for('index') }}" class="standard-logo" data-dark-logo="../static/assets/img/MAIN%20LOGO.png"><img src="../static/assets/img/MAIN%20LOGO.png" alt="GOFind Logo"></a>
						<a href="{{ url_for('index') }}" class="retina-logo" data-dark-logo="../static/assets/img/MAIN%20LOGO.png">
						<img src="../static/assets/img/MAIN%20LOGO.png" alt="GOFind Logo"></a>
					</div><!-- #logo end -->
               <div class="signup-button">
                  <!-- <a href="#" class="button button-3d button-large button-rounded button-red header-download-button">SIGN UP</a> -->

                   <a href="https://itunes.apple.com/us/app/gofind-fashion/id1120971095?mt=8&ign-mpt=uo%3D4" target="_blank"><img class="social-appstore-1" src="../static/assets/img/apple-icon.png"></a>
               <a href="https://play.google.com/store/apps/details?id=ai.gofind.gofind&hl=en" target="_blank"><img class="social-appstore" src="../static/assets/img/google-icon.png"></a>
                </div>
            </div>
    </div>
        </header>
        <section id="slider" class="slider-parallax" style="background: url('../static/assets/img/fb-ads-celebrities.jpg') no-repeat; background-size: cover" data-height-lg="600" data-height-md="500" data-height-sm="400" data-height-xs="300" data-height-xxs="568">
			<div class="slider-parallax-inner">

				<div class="container clearfix">
					<div class="vertical-middle dark center">

						<div class="heading-block nobottommargin text-right influencer">
							<h1>
								
									Wanna become an <br> influential Fashion <br> Influencer?  
								
							</h1>
                           <br> 
                            <p class="influencer-heading-descriptions text-center">Check out our Influencer program on <strong>Tumblr</strong><p>
							
							<a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="influencer-angle icon-angle-down infinite animated fadeInDown"></i></a>
							
						</div>


					</div>
				</div>
			</div>
		</section>
				<section id="content">

			<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap bgcolor">

				<div class="container clearfix">

					<div class="col_one_third nobottommargin center">
						<a href="#"><img src="../static/assets/img/checked.png" alt="Image" class="bottommargin-sm influencerfeature"></a>
						<h4>1 Minute Signup</h4>
						<p class="influencer-feature-description">No need to use any new App or platform. </p>
					</div>

					<div class="col_one_third nobottommargin center">
						<a href="#"><img src="../static/assets/img/group-of-men-running.png" alt="Image" class="bottommargin-sm influencerfeature"></a>
						<h4>Expand Potential Followers</h4>
						<p class="influencer-feature-description">Reach out more diverse audience as we enable people to shop across brands. </p>
					</div>

					<div class="col_one_third nobottommargin center col_last">
						<a href="#"><img src="../static/assets/img/dollar-sign-with-light.png" alt="Image" class="bottommargin-sm influencerfeature"></a>
						<h4>Earn Extra Money</h4>
						<p class="influencer-feature-description">Earn extra money with no extra work! We automatically bring your posts to the platform.  </p>
					</div>
                </div>
            </div>
                        
                        
                        <div class="col_full clearfix">

						<div class="col-md-6 text-center how-it-works-step">
							<h2>Sign up in only <strong>2 STEPS!</strong></h2>
						</div>
                    <div class="col-md-6 text-center">
					<img src="../static/assets/img/2-steps-signup.png" class="notopmargin steps-photo" alt="Image" title="Image" data-animate="fadeInRight" />
                            </div>

					</div>
                        
                        <div class="col_full clearfix background-dec">
                        <div class="col-md-6 text-center">
						<img src="../static/assets/img/hashtags.png" class="notopmargin steps-photo" alt="Image" title="Image" data-animate="fadeInLeft" />
                            </div>
						
						<div class="col-md-6 text-left how-it-works-step">
							<h2 class="text-color">Post your daily outfit with <strong>#gofindfashion</strong>!</h2>
						</div>

						
					</div>
					
					
					
					<div class="col_full clearfix">

						<div class="col-md-6 text-left how-it-works-step">
							<h2>Your post will automatically be <strong>SHOWN</strong> on GOFind Fashion App community!</h2>
						</div>
                    <div class="col-md-6 text-center">
					<img src="../static/assets/img/community-screen.png" class="notopmargin steps-photo" alt="Image" title="Image" data-animate="fadeInRight" />
                            </div>

					</div>
                        
                        <div class="col_full clearfix background-dec">
                        <div class="col-md-6 text-center">
						<img src="../static/assets/img/searching-results.png" class="notopmargin steps-photo" alt="Image" title="Image" data-animate="fadeInLeft" />
                            </div>
						
						<div class="col-md-6 text-left how-it-works-step">
							<h2 class="text-color">We automatically find similar outfits.<br> <strong>Earn through our affiliates and advertisers.</strong> <br> No extra sign ups  required! </h2>
						</div>

						
					</div>
					<div class="col_full clearfix">

						<div class="col-md-6 text-left how-it-works-step">
							<h2><strong>TRACK</strong> your earnings and audience demographics!
						</div>
                    <div class="col-md-6 text-center">
					<img src="../static/assets/img/webpage-dashboard.png" class="notopmargin steps-photo-2" alt="Image" title="Image" data-animate="fadeInRight" />
                            </div>

					</div>

    
    
  
    
      
        
            
    <div class="col_two_third col_last nobottommargin freetrial">


						<h3>Sign up to become a fashion influencer!</h3>


						<form id="register-form" name="register-form" class="nobottommargin" action="#" method="post">

							<div class="col-md-12">
								<label for="register-form-name">Tumblr ID:</label>
								<input type="text" placeholder="Enter your Tumblr ID" id="register-form-name" name="register-form-name" value="" class="form-control" />
								<br>

								<label for="register-form-email">Email Address:</label>
								<input type="text" placeholder="Enter your email address" id="register-form-email" name="register-form-email" value="" class="form-control" />
								<br> <br>
								<div class="col_full nobottommargin">
								<button class="button button-3d button-black nomargin" id="register-form-submit" name="register-form-submit" value="register">SIGN UP</button>
								<br>
								<br>
							</div>
							</div>
							
				

							

						</form>
						</div>



			
    </section> <!--content end-->
        
               
               
     <!-- Footer
		============================================= -->
		<footer id="footer">

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix copyrights-text">

					<div class="col_half">
						<img src="../static/assets/img/MAIN%20LOGO.png" alt="Footer Logo" class="footer-logo">

						Copyrights &copy; 2016 All Rights Reserved by GOFind.ai.
					</div>

					<div class="col_half col_last tright">
						<div class="copyrights-menu copyright-links fright clearfix">
							<a href="{{ url_for('influencer') }}">Influencer</a>/<a href="{{ url_for('advertiser') }}">Advertiser</a>/<a href="https://www.fundable.com/gofindai">Investor</a>/<a href="https://drive.google.com/drive/folders/0B9kFYeIvm-CQQ0NUczYxUWlRck0?usp=sharing">Press Kit</a>
				
						</div>
				
					<!--	<div class="fright clearfix">
							<a href="#" class="social-icon si-small si-borderless nobottommargin si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless nobottommargin si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless nobottommargin si-gplus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless nobottommargin si-pinterest">
								<i class="icon-pinterest"></i>
								<i class="icon-pinterest"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless nobottommargin si-vimeo">
								<i class="icon-vimeo"></i>
								<i class="icon-vimeo"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless nobottommargin si-github">
								<i class="icon-github"></i>
								<i class="icon-github"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless nobottommargin si-yahoo">
								<i class="icon-yahoo"></i>
								<i class="icon-yahoo"></i>
							</a>

							<a href="#" class="social-icon si-small si-borderless nobottommargin si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div> -->
					
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->          
              
    <!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script type="text/javascript" src="../static/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="../static/js/functions.js"></script>

	<script>
	$(function() {
		$( "#side-navigation" ).tabs({ show: { effect: "fade", duration: 400 } });
	});
</script>
   
    </body>
</html>
				
